  <!-- Preloading -->
 
<!-- Preloading -->
<!-- Header section -->
<header class="header_1" id="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3">
                <div class="logo">
                    <a href="index.html"><img src="./assets/images/bankLogo.PNG" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <nav class="mainmenu MenuInRight text-right">
                    <a href="" class="mobilemenu d-md-none d-lg-none d-xl-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="/home">home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Services</a>
                            <ul class="sub-menu">
                              <li><a routerLink="/cal">Loan Calculation</a></li>
                                <li><a href="/home">Bank Details</a></li>
                                 <li *ngIf="login===true" ><a routerLink="/tran">Last Transactions</a></li>
                            </ul>
                        </li>
                            <li *ngIf="login===false"><a routerLink="/login">Login</a></li>
                        

                        <li >
                                <div class="navigator_btn btn_bg text-right"  *ngIf="login===false" >
                                    <a class="common_btn" routerLink="/account">Open account </a>
                                </div>
                                <div class="navigator_btn btn_bg text-right" *ngIf="login===true" >
                                  <a class="common_btn menu-item-has-children"  href="#"> Welcome {{username}} </a>
                                  <ul class="sub-menu" style="text-align: center;">
                                    <li><a routerLink="/profile">profile</a></li>
                                      <li><a routerLink="/logout">logout</a></li>
                                       <!-- <li><a data-target="#exampleModal" data-whatever="@mdo">Forget Password</a></li> -->
                                  </ul>
                              
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Account No:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">email ID:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</header>
<section class="commonSection applyAmoutSec">
    <div class="container" style="margin-top: 200px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sec_title">Calculate Loan</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="applyamountFrom">
                    <form [formGroup]="profileForm" >
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="loanType">
                            <option value="" disabled selected hidden>Select Loan Type</option>
                            <option value="house">House Loan</option>
                            <option value="car">Car Loan</option>
                            <option value="personal">Personal Loan</option>
                            <option value="personal">Education Loan</option>
                          </select>
                        <input type="number" step="any" formControlName="amt" placeholder="Amount">
                        <input type="number" step="any" formControlName="months" placeholder="Long of months?">
                        <input type="number" step="any" value = {{inst}} readonly= "readonly">
                        
                        <button *ngIf="showButton==false" class="common_btn" type="submit" (click) = "calculateinstallment()">Installment</button>                       
                        
                        
                            <button  *ngIf="showButton==true" class="common_btn" type="submit" (click) = "onClickSubmit()">LoanDetails</button>
                                      
                    </form>
                </div>
            </div>
            
        </div>
    </div>
  </section>
