
     <router-outlet></router-outlet>   

       <!-- footer section -->
       <footer class="footer">
        
    </footer>
    <!-- footer section -->

    <!-- Copyright section -->
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright <a href="#">LTI BANK</a>. All rights reserved</p>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="#" id="backTo"><i class="flaticon-chevron"></i></a>
                </div>
            </div>
        </div>
    </section>